<% provide(:title, 'Sign up') %>
<%provide(:button_text, 'Create my account') %>

<div class="row">
	<div class="large-6 large-offset-3 columns">
	<center><h1>Sign up</h1></center>
	<%= render 'hoac_users/shared/form' %>
	</div>
</div>

<div class="row flush-bottom2">
	<div class="large-12 columns center-text">
		<h3>OR</h3>
		<p>Have an account ? <span><%= link_to 'log in', login_path%></span></p> 
	</div>
</div>

<%= render 'hoac_users/shared/hoacfooter' %>