<% provide(:title, "Dashboard") %>
<div class="row">
  <% if @appointments.empty?%>
  <h4>No appointments made</h4>
  <%else%>
   <% @appointments.each do |appointment| %>
      <div class="large-3 columns" style="background-color: #555555">
        <h4><%= appointment.name%></h4>
        <h5><%= appointment.appointment_date%></h5>
        <h5><%= appointment.hoac_user.first_name%></h5>
      </div>

      <%end%>
  <%end%>
</div>