<%provide(:title, "Edit Profile") %>
<%provide(:button_text, 'Save Changes') %>
<div style="text-align: center;"/><h4>Update profile</h4></div>
<div class="row">
  <div class="large-6 large-offset-3 columns">
    <%= render 'doctors/shared/update'%>
  </div>
</div>
