// Place all the styles related to the HoacUsers controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flush-bottom  a:hover{
	color: #004d40;
}
.flush-bottom2 a:hover{
	color: #004d40;
}
